#logo {
	width: 272px;
	padding-top: 109px;
}

.logo, .search_field {
	display: block;
	text-align: center;
}

#search {
	width: 424px;
	height: 38px;
	font: 16px arial,sans-serif;
	padding: 6px 9px 0 16px;
	box-shadow: 0 1px 1px gray;
}

#search:focus {
	outline: none;
}

form {
	margin: 30px;
}

.submit {
	margin: 15px;
}

input {
	border: 1px solid #eaeaea;
	-webkit-appearance: none
}

#submit, #lucky {
	height: 36px;
	padding: 0 16px;
	margin: 11px 4px;
	font-weight: bold;
	font-family: arial, sans-seif;
	font-size:13px;
	color: #757575;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
}